p {
  margin-top: 24px;
  color: #336183;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.box {
  padding: 13px 104px;
  border: 1px solid #336183;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 12px;
}

.ant-picker {
  font-size: 24px;
  border: none;
  outline: none;
}

input {
  font-size: 20px !important;
}

@media (max-width: 375px) {
    input {
        font-size: 16px !important;
    }
}